.not_found_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.not_found_info {
  width: 70%;
}

.not_found_img {
  width: 30%;
}

.not_found_title {
  font-size: 50px;
  margin-bottom: 20px;
}

.not_found_text {
  width: 100%;
  font-size: 20px;
  margin: 10px;
}