.course_card {
  width: 400px;
  background-color: var(--opaque-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--primary-color);
  transition: .3s;
}

.course_card:hover {
  background-color: var(--dark-color);
  transform: scale(1.03);
}

.course_info {
  background-color: var(--more-opaque-dark-color);
  padding: 30px;
  box-sizing: border-box;
  height: auto;
}

.course_info:hover {
  background-color: var(--opaque-dark-color);
}

.course_info_title {
  padding-bottom: 10px;
}

.course_card_img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}