*{
  margin: 0;
  padding: 0;
}

:root {

  --primary-color: #f3dd60;
  --opaque-primary-color: #f3dd60b2;
  --more-opaque-primary-color: #f3dd6077;

  --dark-color: #181212;
  --opaque-dark-color: #181212a9;
  --more-opaque-dark-color: #18121277;

  box-sizing: border-box;
}

body{
  background-image: url(../public/img/cocina1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}