.post {
    background-size: cover;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
}
  
.post div{
    width: 35rem;
    white-space: normal;
    color: black;
}
  
.post div h1 {
    padding: 30px;
}
  
.post div p {
    text-align: justify;
    margin: auto;
    width: 90%;
}
  
.post img{
    width: 600px;
    border-radius: 20px;
    -webkit-mask-image: linear-gradient(to left, transparent 5%, black 50%);
}