.admin_skeleton_container h1 {
  font-size: 35px;
  text-align: center;
}

.admin_skeleton_card {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--opaque-dark-color);
  color: var(--primary-color);
  animation-name: oscurecer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.admin_skeleton_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_skeleton_card h1, .fa-solid {
  margin: 0 5px;
  font-size: 30px;
}

.fa-pen-to-square, .fa-trash {
  padding: 10px;
  border-radius: 10px;
}

.fa-skeleton {
  color: var(--skeleton-light-color);
}

.admin_skeleton_skeleton_title {
  width: 88%;
  height: 40px;
  background-color: var(--skeleton-light-color);
  border-radius: 10px;
}