.modal_form {
  margin: 20px;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.modal_form label {
  margin-right: 10px;
  font-size: 18px;
}

.modal_form input,
.modal_form textarea,
.modal_form select {
  width: 450px;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid var(--dark-color);
  outline: none;
}

.modal_form textarea {
  height: 200px;
  resize: none;
}

.modal_form button {
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: .3s;
}

.modal_form button:hover {
  background-color: var(--dark-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.course_response {
  text-align: center;
  padding: 20px;
}

.course_response h1 {
  font-size: 35px;
}

.error_icon {
  width: 100px;
  background-color: white;
  border-radius: 100%;
}

.error_text {
  color: #db343c;
  margin: 10px 0;
}